body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.clock {
  margin: 0px 30%;
}


.clock h1 {
  padding-left: 32.5px;
  text-align: left;
  /* font-style: italic; */
  font-size: 2rem;
  letter-spacing: .65em;
  color: #232326;
}

.clock-box {
  font-size: 1.75rem;
  margin-top: -20px;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #717d87;
  color: #e3e8ed;
}

.date, .time {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
}
